# Compiled class file
*.class

# intellij
.idea/
*.iml
backend/src/main/resources/config/application-local.properties
backend/target
frontend/src/main/frontend/dist
frontend/src/main/frontend/node
frontend/target

# node
node_modules/
e2e/

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


/backend/src/main/resources/config/application-local.properties
